.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 50px;
  height: 50px;
  border-style: double;
  border-color: white;
  border-radius: 30%;
  background-color: transparent;
  backdrop-filter: blur(5px);
  color: white;
  font-size: 25px;
  cursor: pointer;
  transition: opacity 0.3s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.back-to-top-button.visible {
  display: block;
  opacity: 1;
}

.back-to-top-button:hover {
  scale: 1.1;
  backdrop-filter: blur(40px);
}
